@import "./variables";
@import "./mixins";

.centered-container {
    @include flex-center;
    flex-grow: 1;

    .not-found-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}