@import "./variables";

@mixin header-text {
    color: $white;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    transition: 0.4s ease-in-out;

    &:hover {
        color: $grey;
    }
}

@mixin header-button {
    border: none;
    cursor: pointer;
    background-color: transparent;

    .icon-wrapper {
        .icon {
            transition: 0.4s ease-in-out;
        }
    }

    &:hover {
        .icon-wrapper {
            .icon {
                color: $grey;
            }
        }
    }
}

@mixin full-screen-container {
    height: calc(100vh - 84px);
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 615px) {
        height: auto;
    }
}

@mixin button {
    padding: 0.5em;
    font-size: 14px;
    cursor: pointer;
    background-color: $black;
    color: $white;
    border-radius: 5px;
    border: transparent;
    transition: 0.4s ease-in-out;

    &:hover {
        background-color: $dark-grey;
    }
}

@mixin black-text {
    h1, h2, h3, h4, h5, h6, p, span {
        color: $black;
    }
}

@mixin white-text {
    h1, h2, h3, h4, h5, h6, p, span {
        color: $white;
    }
}

@mixin break {
        width: 35px;
        margin: 0;
        border: 3px solid $red;
}

@mixin title {
    h1 {
        font-size: 2em;
        margin-bottom: 5px;
    }

    hr {
        @include break;
    }
}

@mixin pagination-text {
    font-size: 18px;
    color: $grey;
    transition: 0.4s ease-in-out;

    &:hover {
        color: $white;
    }
}