@import "./variables.module";

@mixin header-text {
    color: $white;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    transition: 0.4s ease-in-out;

    &:hover {
        color: $grey;
    }
}

@mixin header-button {
    border: transparent;
    background-color: transparent;

    &:focus {
        .icon-wrapper {
            .icon {
                color: $grey;
            }
        }
    }
}

@mixin full-screen-container {
    height: calc(100vh - 84px);
    display: flex;
    justify-content: center;
    align-items: center;

    @media screen and (max-width: 615px) {
        height: auto;
    }
}

@mixin button {
    padding: 0.5em;
    font-size: 14px;
    cursor: pointer;
    background-color: $black;
    color: $white;
    transition: 0.4s ease-in-out;
    border-radius: 5px;
    border: transparent;

    &:hover {
        background-color: $dark-grey;
    }
}