// $light-blue: #97A7C4;
// $blue: #3D5A80;
$dark-blue: #293241;
// $light-red: #CD5D67;
$red: #BA1F33;
// $dark-red: #91171F;

$white: #FAFAFA;
$grey: #C2C2C2;
$black: #1F1F1F;
$dark-grey: #474747;

$yellow: #F3E3BA;
// $off-white: #FCF8EE;
// $off-white: #FDF5EB;
$off-white: #E9EAEC;


:export {
    darkBlue: $dark-blue;
    red: $red;
    white: $white;
    grey: $grey;
    black: $black;
    darkGrey: $dark-grey;
    yellow: $yellow;
    offWhite: $off-white;
}