@import "./variables";
@import "./mixins";

#blog {
    .content-container {
        @include flex-center;
        padding: 2.4em 5%;
        flex-direction: column;

        .center-wrapper {
            @include flex-center;

            .title-container {
                @include title;
                align-self: center;
            }
        }
    }
}