@import "../styles/mixins";

#blog-post {
    .content-wrapper {
        .date-container {
            @include blog-date;

            svg {
                color: $white;
            }
        }

        .center-wrapper {
            display: flex;
            justify-content: center;
        }

        button {
            @include button;
        }
    }
}
