@import "./variables";
@import "./mixins";

#blog {
    .title-container {
        @include title;
    }

    .blog-posts-container {
        padding: 0;
        list-style: none;

        li {
            .blog-title-container {
                display: flex;
                justify-content: space-between;

                .link {
                    color: $white;
                    text-decoration: none;

                    h2 {
                        margin-bottom: 0.4em;
                        transition: 0.4s ease-in-out;
                        &:hover {
                            color: $grey;
                        }
                    }
                }

                p {
                    margin: 0;
                    align-self: center;
                }
            }
        }
    }

    .blog-navigation-container {
        display: flex;
        justify-content: center;

        .first, .prev, .number, .next, .last {
            text-decoration: none;
            padding: 0 .4em 0 .4em;

            p {
                @include pagination-text;
            }

            &.active-link {
                p {
                    color: $white;
                }
            }

            &.disabled-link {
                visibility: hidden;
            }
        }
    }
}

@media screen and (max-width: 615px) {
    #blog {
        .blog-posts-container {
            li {
                .blog-title-container {
                    flex-direction: column;
                    justify-content: start;

                    p {
                        align-self: start;
                    }
                }
            }
        }
    }
}