@import "../styles/mixins";

#blog-post {
    .date {
        @include blog-date;

        svg {
            color: $white;
        }
    }

    .center-wrapper {
        display: flex;
        justify-content: center;
    }

    button {
        @include button;
    }
}