@import "./mixins";

.circle-links-container {
    display: flex;

    .icon {
        font-size: 18px;
        border-radius: 100%;
        padding: .4em;
        margin: 0 0.2em 0 0.2em;
        background-color: $white;
        color: $black;
        cursor: pointer;
        transition: 0.4s ease-in-out;

        &:hover {
            background-color: $grey;
        }
    }
}