.content-container {
    display: flex;
    flex-direction: column;
    padding: 2.4em 30% 2.4em 30%;
}

@media screen and (max-width: 615px) {
    .content-container {
        padding: 1.8em 15% 1.8em 15%;
    }
}