@import "./variables.module";
@import "./mixins";

#contact {
    @include black-text;
    background-color: $off-white;

    .info-container {
        .contact-form-container {
            margin: 2.4em 20% 2.4em 0;

            h1 {
                margin: 0px 0px 20px 0;
            }
        }

        .personal-info-container {
            display: flex;
            flex-direction: column;
            margin: 2.4em 0em 2.4em 0em;
            align-items: center;

            .qr-code-wrapper {
                width: 200px;
                height: 200px;
            }

            h2 {
                // align-self: flex-start;
                margin: 0.8em 0 0 0;
            }
        }
    }
}

@media screen and (max-width: 615px) {
    #contact {
        .info-container {
            .personal-info-container {
                margin: 0em 0em 2.4em 0em;
            }
        }
    }
}
