@import "./variables.module";
@import "./mixins";

form {
    display: flex;
    flex-direction: column;

    .input-type {
        p {
            margin-bottom: 5px;
        }
    }

    input {
        padding: 0.5em;
        border: none;
        border-radius: 5px;
        min-width: 350px;
        font-size: 14px;
    }

    textarea {
        padding: 0.5em;
        border: none;
        border-radius: 5px;
        min-width: 350px;
        font-family: sans-serif;
        resize: none;
    }

    button {
        @include button;
        margin-top: 16px;
        min-width: 350px;
    }
}