@import "./mixins";

#contact-form {
    display: flex;
    flex-direction: column;

    .input-type {
        display: flex;
        flex-direction: column;

        p {
            margin-bottom: 5px;
        }
    }

    input {
        border: none;
        border-radius: 5px;
        padding: 0.5em;
        font-size: 16px;
    }

    textarea {
        border: none;
        border-radius: 5px;
        padding: 0.5em;
        font-family: sans-serif;
        font-size: 16px;
        resize: none;
    }

    button {
        @include button;
        margin-top: 16px;
        font-size: 16px;
    }
}
