@import "./variables";
@import "./mixins";

footer {
    position: relative;
    background-color: $black;
    flex-shrink: 0;

    .circle-links-container {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }


    .footer-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-grow: 1;
        padding: 0 1.6em;
        height: 72px;

        span {
            color: $white;
            font-size: 14px;
            margin: 0;
        }
    
    }
}

@media screen and (max-width: 615px) {
    footer {
        .circle-links-container {   
            position: static;
            transform: translate(0, 0);
            @include flex-center;
            padding-top: 1.2em;
        }

        .circle-links {
            display: none;
        }
    }
}