@mixin header-text {
    color: $cultured;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    transition: 0.4s ease-in-out;

    &:hover {
        color: $lightgray;
    }
}

@mixin header-button {
    border: transparent;
    background-color: transparent;

    &:focus {
        .icon-wrapper {
            .icon {
                color: $lightgray;
            }
        }
    }
}

.full-header-container {
    .header-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 2em 2em 2em 2em;
        background-color: $gunmetal;

        .left-header {
            .header-logo {
                @include header-text;
            }
        }

        .right-header {
            .navigation-links-container {
                .navigation-link {
                    @include header-text;
                    margin: 0px 6px 0px 6px;
                }
            }

            .button-wrapper {
                @include header-button;
                display: none;

                .icon-wrapper {
                    .icon {
                        @include header-text;
                    }
                }
            }
        }
    }

    .mobile-menu {
        position: fixed;
        visibility: hidden;
        opacity: 0;
        width: 100%;
        height: 100%;
        background-color: $gunmetal;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.4s ease-in-out;

        .button-wrapper {
            @include header-button;
            position: fixed;
            top: 2.4em;
            right: 2.4em;
    
            .icon-wrapper {
                .icon {
                    @include header-text;
                }
            }
        }

        .navigation-links-container {
            display: flex;
            flex-direction: column;
            align-items: center;

            .navigation-link {
                @include header-text;
                font-size: 24px;
                margin: 6px 0px 6px 0px;
            }
        }
    }

    .mobile-menu.show-menu {
        visibility: visible;
        opacity: 1;
    }
}

@media screen and (max-width: 615px) {
    .full-header-container {
        .header-container {
            .right-header {
                .navigation-links-container {
                    display: none;
                }

                .button-wrapper {
                    display: inline;
                }
            }
        }
    }
}
