@import "../styles/mixins";
@import "./variables";

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0em 2em 0em 2em;
    height: 4.5em;
    background-color: $dark-blue;

    .left-header {
        .logo-wrapper {
            .logo {
                height: 20px;
            }
        }
    }

    .right-header {
        .header-links {
            display: flex;
        }

        .button-wrapper {
            @include header-button;
            display: none;

            .icon {
                @include header-text;
            }
        }
    }
}

.mobile-menu {
    @include flex-center;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: $dark-blue;

    .button-wrapper {
        @include header-button;
        position: fixed;
        top: 1.95em;
        right: 2.55em;

        .icon {
            @include header-text;
        }
    }

    .menu-links {
        display: flex;
        flex-direction: column;
        align-items: center;

        li {
            margin: 0.5em 0 0.5em 0;

            .navigation-link {
                font-size: 24px;
            }
        }
    }
}

.links-container {
    padding: 0;
    list-style: none;

    li {
        margin-left: 1em;

        .navigation-link {
            @include header-text;
        }
    }
}

@media screen and (max-width: 615px) {
    .header-container {
        .right-header {
            .header-links {
                display: none;
            }

            .button-wrapper {
                display: inline;
            }
        }
    }
}
