.hero-container {
    height: calc(100vh - 84px);
    display: flex;
    justify-content: center;
    align-items: center;

    .info-container {
        display: flex;
        justify-content: center;
        margin: 0 10% 0 10%;
    }
}


@media screen and (max-width: 615px) {
    .hero-container {
        height: auto;
        min-height: calc(100vh - 84px);

        .info-container {
            flex-direction: column;
        }
    }
}

@media screen and (max-height: 615px) {
    .hero-container {
        height: auto;
        min-height: calc(100vh - 84px);
    }
}