@import "./variables";
@import "./mixins";

#home {
    background-color: $dark-blue;

    .title-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 2.4em 10% 2.4em 2.4em;
        max-width: 31.25em;

        @include title;

        button {
            @include button;
        }

        p {
            max-width: 24em;
        }
    }

    .recent-blog-posts-container {
        @include black-text;
        @include flex-center;
        padding: 2.4em 5%;
        flex-direction: column;
        background-color: $off-white;

        button {
            @include button;
        }
    }

    .recent-portfolio-projects-container {
        @include black-text;
        @include flex-center;
        padding: 2.4em 5%;
        flex-direction: column;
        background-color: $off-white;

        button {
            @include button;
        }

        .portfolio-projects-container {
            .portfolio-project-container {
                .text-container {
                    .category {
                        border: 2px solid $black;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 615px) {
    #home {
        .title-container {
            margin-top: 1em;
            order: 2;
            margin-left: 0;
            margin-right: 0;
        }

        .card-container {
            margin-top: 1em;
            margin-bottom: 0;
            margin-right: 0;
            order: 1;
            align-self: center;
        }
    }
}
