@import "./variables.module";
@import "./mixins";

html {
    overflow-y: scroll;

    body {
        margin: 0;
        padding: 0;
        height: 100%;
        font-family: sans-serif;
        display: flex;
        flex-direction: column;

        .site-container {
            display: flex;
            min-height: 100vh;
            flex-direction: column;
        }
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    color: $black;
}

p {
    line-height: 1.5;
}
