@import "./variables";
@import "./mixins";

html {
    overflow-y: scroll;

    body {
        margin: 0;
        padding: 0;
        height: 100%;
        font-family: sans-serif;
        display: flex;
        flex-direction: column;

        .site-container {
            display: flex;
            min-height: 100vh;
            flex-direction: column;

            .main-container {
                @include white-text;
                background-color: $dark-blue;
                display: flex;
                flex-direction: column;
                flex: 1 0 auto;

                .content-container {
                    padding: 2.4em 27.5% 2.4em 27.5%;
                }
            }
        }
        
    }
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
    color: $black;
}

p {
    line-height: 1.5;
}

@media screen and (max-width: 615px) {
    html {
        body {
            .site-container {
                .main-container {
                    .content-container {
                        padding: 1.8em 15% 1.8em 15%;
                    }
                }
            }
        }
    }
}

a {
    color: $light-blue;

    &:visited {
        color: $grey-blue;
    }
}