@mixin header-text {
    color: $white;
    text-decoration: none;
    cursor: pointer;
    font-size: 18px;
    transition: 0.4s ease-in-out;

    &:hover {
        color: $grey;
    }
}

@mixin header-button {
    border: transparent;
    background-color: transparent;

    &:focus {
        .icon-wrapper {
            .icon {
                color: $grey;
            }
        }
    }
}