@import "./variables";

.pagination-container {
    display: flex;
    justify-content: center;

    .first,
    .prev,
    .number,
    .next,
    .last {
        text-decoration: none;
        padding: 0 0.4em 0 0.4em;
        font-size: 18px;
        color: $grey;
        transition: 0.4s ease-in-out;

        &:hover {
            color: $white;
        }

        &.active-link {
            color: $white;
        }

        &.disabled-link {
            visibility: hidden;
        }
    }
}
