@import "../styles/mixins";

#portfolio-project {
    .content-container {
        .project-info {
            margin-top: 2em;

            .category {
                @include portfolio-category;
            }
        }

        .center-wrapper {
            display: flex;
            justify-content: center;
            max-height: 600px;
        }

        .skills-list {
            @include portfolio-skills;
        }

        button {
            @include button;
        }
    }
}
