@import "./variables";
@import "./mixins";

#portfolio {
    .content-container {
        @include flex-center;
        padding-left: 2.4em;
        padding-right: 2.4em;
        flex-direction: column;

        .center-wrapper {
            @include flex-center;

            .title-container {
                @include title;
                align-self: center;
            }
        }

        .portfolio-projects-container {
            margin-top: 3em;
            padding: 0;
            list-style: none;
        }
    }
}