@import "./mixins";

.portfolio-projects-container {
    margin-top: 2.4em;
    padding: 0;
    list-style: none;

    .portfolio-project-container {
        @include flex-center;
        margin-bottom: 3.6em;

        .picture-wrapper {
            width: 45vw;
            max-height: 45vw;
        }

        .text-container {
            margin-left: 2.4vw;
            width: 45vw;

            .category {
                @include portfolio-category;
            }

            .button {
                margin-top: 0.5em;
                margin-right: 0.5em;
            }

            .skills-list {
                @include portfolio-skills;
                margin-bottom: 2em;

                .skill {
                    margin-top: 0.5em;
                }
            }
        }

        &:nth-child(even) {
            .picture-wrapper {
                order: 2;
            }

            .text-container {
                order: 1;
                margin-left: 0;
                margin-right: 2.4vw;
            }
        }
    }
}

@media screen and (max-width: 615px) {
    .portfolio-projects-container {
        .portfolio-project-container {
            flex-direction: column;

            .picture-wrapper {
                order: 1 !important;
                width: 100%;
                max-height: fit-content;
            }

            .text-container {
                margin-top: 2.4em;
                margin-left: 0 !important;
                margin-right: 0 !important;
                order: 2 !important;
                width: auto;

                h3 {
                    margin-top: 2em;
                }
            }
        }
    }
}
