@import "../styles/mixins";

#portfolio-project {

    .category {
        @include portfolio-category;
        margin-top: 2em;
    }
    
    .center-wrapper {
        display: flex;
        justify-content: center;
    }
    
    .skills-list {
        @include portfolio-skills;
    }

    button {
        @include button;
    }
}